/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
/* CSS */
.button-3 {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .button-3:hover {
    background-color: #2c974b;
  }
  
  .button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }


 /* zoom effect */
 .zoom-effect {
  overflow: hidden;
  position: relative;
}

.zoom-effect img {
  transition: transform 0.3s ease-in-out;
}

.zoom-effect:hover img {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}


/* tour images */
#hiking-sample {
  background-image: url("./img/kili3.jpg");
}

#tour-category {
  background-image: url("./img/tour-img5.jpg");
}
#tour-category1 {
  background-image: url("https://i.ibb.co/7gNdpbC/cat-img1.jpg");
}

#contact-category {
  background-image: url("./img/tour-img5.jpg");
}

#traveller-img{
  background-image: url("./img/traveller2.png");
}


/* header logo */
.logo_normal1 {
  width: 150px;
  height: 36px;
  background-image: url('./img/logo.svg');
  background-size: cover; /* Adjust this based on your design needs */
  /* If you want to hide the text inside the div, you can use the following line */
  /* text-indent: -9999px; */
}

.header_img2 {
  width: 150px;
  height: 36px;
  background-image: url('./img/logo_sticky.svg');
  background-size: cover; /* Adjust this based on your design needs */
  /* If you want to hide the text inside the div, you can use the following line */
  /* text-indent: -9999px; */
}


/* admin sign in  */

.admin-sign-in{
  height: 20;
  background-image: url('./img/logo-dark.png');
  background-size: cover; /* Adjust this based on your design needs */

}
.admin-sign-in2{
  height: 20;
  background-image: url('./img/logo-light.png');
  background-size: cover; /* Adjust this based on your design needs */

}


/* admin pages */
.admin-home-logo{
  height: 22;
  background-image: url('./img/logo-sm-dark.png');
  background-size: cover;
}

.admin-home-logo2{
  height: 22;
  background-image: url('./img/logo-dark.png');
  background-size: cover;
}

.admin-home-logo3{
  height: 22;
  background-image: url('./img/logo-sm-light.png');
  background-size: cover;
}

.admin-home-logo4{
  height: 20;
  background-image: url('./img/logo-light.png');
  
}

.admin-home-avatar{
  background-image: url('./img/avatar-2.jpg');
  background-size: cover;

}

/* homepage-body */
.homepage-cat1{
  background-image: url('./img/img-5.jpg');



}