/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
/* CSS */
.button-3 {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .button-3:hover {
    background-color: #2c974b;
  }
  
  .button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }


 /* zoom effect */
 .zoom-effect {
  overflow: hidden;
  position: relative;
}

.zoom-effect img {
  transition: transform 0.3s ease-in-out;
}

.zoom-effect:hover img {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}


/* tour images */
#hiking-sample {
  background-image: url("./img/kili3.jpg");
}

#contact-category {
  background-image: url("./img/tour-img5.jpg");
}

#tour-category {
  background-image: url("./img/tour-img5.jpg");
}
#tour-category1 {
  background-image: url("https://i.ibb.co/7gNdpbC/cat-img1.jpg");
}

#about1 {
  background-image: url("https://i.ibb.co/VTgRyzv/1-carousel.jpg");
}

#contact-category {
  background-image: url("./img/tour-img5.jpg");
}

#traveller-img{
  background-image: url("./img/traveller2.png");
}

.user_profile{
  background-image: url("./img/user.png");
}

.review-image {
    /* Your styling for the image */
    width: 80px; /* Example width */
    height: 80px; /* Example height */
    border-radius: 50%; /* Example border radius for a circular image */
    background-image: url('./img/user.png'); /* Path to your image */
    background-size: cover; /* Adjust as needed */
    /* Add any other styling you want */
}


/* header logo */
.logo_normal1 {
  width: 150px;
  height: 36px;
  background-image: url('./img/logo.svg');
  background-size: cover; /* Adjust this based on your design needs */
  /* If you want to hide the text inside the div, you can use the following line */
  /* text-indent: -9999px; */
}

.header_img2 {
  width: 150px;
  height: 36px;
  background-image: url('./img/logo_sticky.svg');
  background-size: cover; /* Adjust this based on your design needs */
  /* If you want to hide the text inside the div, you can use the following line */
  /* text-indent: -9999px; */
}


/* admin sign in  */

.admin-sign-in{
  height: 20;
  background-image: url('./img/logo-dark.png');
  background-size: cover; /* Adjust this based on your design needs */

}
.admin-sign-in2{
  height: 20;
  background-image: url('./img/logo-light.png');
  background-size: cover; /* Adjust this based on your design needs */

}


/* admin pages */
.admin-home-logo{
  height: 22;
  background-image: url('./img/logo-sm-dark.png');
  background-size: cover;
}

.admin-home-logo2{
  height: 22;
  background-image: url('./img/logo-dark.png');
  background-size: cover;
}

.admin-home-logo3{
  height: 22;
  background-image: url('./img/logo-sm-light.png');
  background-size: cover;
}

.admin-home-logo4{
  height: 20;
  background-image: url('./img/logo-light.png');
  
}

.admin-home-avatar{
  background-image: url('https://i.ibb.co/WpX7qJG/black-woman-zoologist-psd-transparent-white-isolated-background-873925-409026.jpg');
  background-size: cover;

}


/* homepage-body */
.homepage-cat1{
  background-image: url('./img/img-5.jpg');
}


/* view icon */
/* .view-icon{
  background-image: url('./img/eye.png');
} */

.icon-img{
  background: url('./img/eye.png');
  height: 20px;
  width: 20px;
  display: block;
  /* Other styles here */
}

/* view tour page */
.image123{
  background-image: url('./img/authentication-bg.jpg');
  background-size: cover;

}

/* modal body */
.modal-confirm {
  color: #636363;
  width: 325px;
  font-size: 14px;
}

.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}

.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}

.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}

.modal-confirm .form-control,
.modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}

.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -5px;
}

.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}

.modal-confirm .icon-box {
  color: #fff;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #82ce34;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-confirm .icon-box i {
  font-size: 58px;
  position: relative;
  top: 3px;
}

.modal-confirm.modal-dialog {
  margin-top: 80px;
}

.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #82ce34;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}

.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
  background: #6fb32b;
  outline: none;
}

.contact_bg {
  background-image: url("https://i.ibb.co/jyhYmdt/1710153512841-743660c6-b18d-48d4-a2eb-14a14f7c1390-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact_bg2 {
  background-image: url("https://i.ibb.co/9TGGx19/wallpaperflare-com-wallpaper-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}



.payment1 {
  background-image: url("https://i.ibb.co/sjbBVd5/paypal.png");
  background-repeat: no-repeat;
  background-size: cover;
}