


/* images */
.hero_single {
  position: relative;
  overflow: hidden;
}

/* Default image settings */
.jarallax-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* Media query for screen width 512px and below */
@media only screen and (max-width: 697px) {
  .large-screen {
    display: none; /* Hide large-screen image on small screens */
  }
}

/* Media query for screen width larger than 512px */
@media only screen and (min-width: 698px) {
  .small-screen {
    display: none; /* Hide small-screen image on large screens */
  }
}
