.container_ac5676396f39 {
    display: grid;
    flex-wrap: wrap;
    gap: 10px;
}

.tour-item {
    flex: 1 1 calc(33.333% - 10px);
}

.text_4a7faa3c87ab.offset-0,
.text_70f0facd0c87.offset-0,
.text_f9636a23dbf6.offset-0 {
    margin-left: 0;
}

.text_4a7faa3c87ab.offset-1,
.text_70f0facd0c87.offset-1,
.text_f9636a23dbf6.offset-1 {
    margin-left: 400px;
}

.text_4a7faa3c87ab.offset-2,
.text_70f0facd0c87.offset-2,
.text_f9636a23dbf6.offset-2 {
    margin-left: 800px;
}

.offset-0 {
    margin-left: 0;
}

.offset-1 {
    margin-left: 400px;
}

.offset-2 {
    margin-left: 800px;
}

.container_5014426d40fe {
    width: 365px;
    height: 702px;
    z-index: 1;
    position: relative !important;
    top: 0px;
    background: #ffffff;
    border-radius: 18px 18px 18px 18px;
    box-shadow: 4px 4px 6.1px #00000040;
}

.text_7b9fe75ec2d5 {
    font-weight: bold;
}


/* tours medium */

.three-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* Creates three equal columns */
    column-gap: 20px;
    /* Space between columns */
    row-gap: 20px;
    /* Space between rows */
    background-color: black;
    /* Optional background color */
}

.grid-container {
    column-gap: 2%;
    row-gap: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.one-row-grid-container {
    column-gap: 2%;
    row-gap: 2%;
    display: grid;
    grid-template-columns: 1fr;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.tour-links {
    bottom: 0;
    position: relative;
}