@font-face {
    font-family: 'Bobaland';
    font-style: normal;
    font-weight: 400;
    src: local('Bobaland'), url('https://storage.googleapis.com/yotako-fonts/CdnFonts/woffFonts/Bobaland/Bobaland-OVXB3.woff') format('woff');
}


